@model CrudEmpresa.ViewModel.Empresa.EmpresaDeleteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Você tem certeza que deseja excluir essa empresa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <p><strong>CNPJ:</strong> @Model.CNPJ</p>
        <p><strong>Empresa:</strong> @Model.Nome</p>
    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Empresa"))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id)

        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        <a class="btn btn-primary" href="@Url.Action("Index")" role="button">Cancelar</a>
    }
</div>
