@model CrudEmpresa.ViewModel.Empresa.EmpresaDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da @Model.Nome</h2>

<div>
    <hr />

    <p>
        <strong>@Html.DisplayNameFor(model => model.CNPJ):</strong>   @Model.CNPJ <br/>

        <strong>@Html.DisplayNameFor(model => model.Nome):</strong>   @Model.Nome <br />

        <strong>@Html.DisplayNameFor(model => model.Telefone):</strong>   @Model.Telefone <br />

        <strong>@Html.DisplayNameFor(model => model.Email):</strong>   @Model.Email <br />

        <strong>@Html.DisplayNameFor(model => model.Pais):</strong>   @Model.Pais <br />

        <strong>@Html.DisplayNameFor(model => model.DataCadastro):</strong>   @Model.DataCadastro
    </p>
</div>
<p>
    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })" role="button">Editar</a>
    <a class="btn btn-primary" href="@Url.Action("Index")" role="button">Voltar</a>
</p>
