@model IEnumerable<CrudEmpresa.ViewModel.Empresa.EmpresaIndexViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2 style="float: left;">Empresas</h2> 
<a style="float: right;" class="btn btn-primary" href="@Url.Action("Create")" role="button">Criar empresa</a>

<p>
    
</p>
<table class="table">
    <tr>
        <th>CNPJ</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>País</th>
        <th>Data de Cadastro</th>
    </tr>

    @foreach (var empresa in Model)
    {
        <tr>
            <td>
                @empresa.CNPJ
            </td>
            <td>
                @empresa.Nome
            </td>
            <td>
                @empresa.Telefone
            </td>
            <td>
                @empresa.Email
            </td>
            <td>
                @empresa.Pais
            </td>
            <td>
                @empresa.DataCadastro
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = empresa.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = empresa.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = empresa.Id })
            </td>
        </tr>
    }

</table>
